<div class="columnContainer" cdkDropList [cdkDropListData]="formArray.controls" (cdkDropListDropped)="onDrop($event)">
    <ng-container class="listContainer" *ngFor="let control of formArray.controls; let i = index">
        <div [@fadeIn] class="destinationContainer" cdkDrag>
            <mat-icon class="handle scale-up" *ngIf="formArray.length>1" cdkDragHandle>drag_indicator</mat-icon>
            <mat-form-field color="primary">
                <input color="primary" #inputRef matInput placeholder="{{placeholderGenerator(i)}}"
                (input)="updateControlValue(i, inputRef.value)"> 
            </mat-form-field>
            <button mat-button class="add-location" (click)="addItem(i)"><mat-icon color="primary" class="scale-up">add_location</mat-icon></button>
            <button mat-button *ngIf="formArray.length>2" class="add-location" (click)="removeItem(i)"><mat-icon color="accent" class="scale-up">cancel</mat-icon></button>
        </div>
        <!-- <mat-icon *ngIf="i<formArray.length-1" class="more-destination">more_vert</mat-icon> -->
    </ng-container>
</div>
<button mat-button class = "go-button" color="primary" routerLink="/mapped"><b>Start Planning!</b></button>